/* ======================== CSS Reset ======================== */
*{
  margin : 0;
  padding: 0;
  outline : none;
  box-sizing: border-box;
  font-family : "Raleway-Regular";
  scroll-behavior: smooth;
}

body{
  height : 3000px;
}

p{
  font-family : "Raleway-Medium";
  font-size : 1.3rem;
  line-height: 2rem;
  word-spacing: 0.3rem;
  text-align: center;
}

section{
padding : 50px;
width : 100%;
}

section h1{
  font-family : 'Pattaya';
  font-size : 3rem;
  color : rgb(36, 248, 220);
  font-weight : bold;
  text-align : center;
  letter-spacing : 4px;
  word-spacing: 3px;
  text-shadow : 0.2rem 0.2rem 0.1rem rgb(20, 20, 17);
  margin-bottom: 20px;
}

section h1 span{
  font-family : 'Pattaya';
  color :rgb(243, 74, 74);
}
/* ============================================================ */


/* ======================== FONTS ======================== */
@font-face{
  font-family : "Raleway-Regular";
  src : url('../Fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face{
  font-family : "Raleway-Medium";
  src : url('../Fonts/Raleway/static/Raleway-Medium.ttf');
}

@font-face{
  font-family : "RocknRollOne-Regular";
  src : url('../Fonts/RocknRoll_One/RocknRollOne-Regular.ttf');
}

@font-face{
  font-family : "Lobster";
  src : url('../Fonts/Lobster/Lobster-Regular.ttf');
}

@font-face{
  font-family : "Pattaya";
  src : url('../Fonts/Pattaya/Pattaya-Regular.ttf');
}
/* ============================================================ */



/* =================== Utility Classes Start ================== */
.flex{
  display : flex;
}

.items-center{
  align-items : center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}

.wrap{
flex-wrap : wrap;
}

.card-container{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-wrap : wrap;
}

.content-center{
  display : flex;
  justify-content: center;
  align-items: center;
}
/* =================== Utility Classes End ================== */


/* ====================== Navbar Start ====================== */
.navigation {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  z-index: 100;
  box-shadow : 0px 0px 15px rgb(44, 44, 44);
}

.navigation-left{
    min-width : 190px;
    height : 30px;
    position: relative;
}

.navigation-left a img{
  position : absolute;
  height : 100%;
  width : 100%;
}

.navigation-right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333745;
  font-size: 1rem;
  font-weight: bold;
  font-family : "RocknRollOne-Regular";
  padding : 5px 10px;
  border: 2px solid transparent;
  border-radius: 0px 15px;
  text-align: center;
  line-height: 25px;
  transition: all .3s;
}

.navigation-right a:hover,
.navigation-right a:focus {
  border-color: rgb(234, 46, 73);
}

.navigation .nav-img{
  outline : none;
  display: none;
}

.sm-wrapper{
  overflow: hidden;
  position: absolute;
  width : 100vw;
  height : 100vh;
}

.sm-nav{
  z-index: 2;
  background : rgba(120, 245, 18, 0.835);
  padding : 120px 0 20px;
  transition: all 1s;
  transform : translateX(100%);
  opacity : 0;
  position : relative;
  width : 100%;
  height : 100%;
}

.nav-transition{
  transform : translateX(0%);
  opacity : 1;
}

.sm-nav.navigation-right a{
  width : 100px;
}

/* ======================= Navigation Ends ====================*/


/* ==================== Slider Start ===================== */  
/* Slider wrapper*/
.slider-wrapper {
  background: #FFF;
  overflow: hidden;
  height : 100vh;
  width : 100vw;
  position: relative;
}

.slider-wrapper input[type='radio']{
  display :none;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  flex-wrap: wrap;
  transition: transform 1600ms;
  -webkit-transition: -webkit-transform 1600ms;
  transform: scale(1);
  -webkit-transform: scale(1);
  padding : 100px;
}

.slider .slider-content {
  width: 60%;
  padding : 50px 20px;
}

.slider .img-wrapper{
  width : 250px;
  height : 250px;
  position : relative;
  margin : 20px auto;
}


/* Slides Background Color */
.slide-1 {
  background: #f3c3b7;
  left: 0;
}
.slide-2 {
  background: #eb8d576e;
  left: 100%
}
.slide-3 {
  background: #96b7eca6;
  left: 200%
}
.slide-4 {
  background: #c9b59e7c;
  left: 300%;
}  

/* Slider Inner Slide Effect */
.slider h2 {
  font-family : 'Lobster';
  text-shadow : 0.2rem 0.2rem 0.1rem #e4abab73;
  color: #c50808;
  font-size: 55px;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  letter-spacing: 2px;
  margin-bottom : 20px;
  width: 100%;
}

.slider h4 {
  font-size: 20px;
  font-family : "Raleway-Medium";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider .img-wrapper img {
  position : absolute;
  height : 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  float : right;
}

.slider-btn {
  background-color: #ea2e49;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: 'Raleway-Medium';
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  margin : 25px 0px 10px;
}

.slider-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
  background : transparent;
  color : black;

}

/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider .img-wrapper img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 .img-wrapper img,
.slide-radio2:checked ~ .slide-2 .img-wrapper img,
.slide-radio3:checked ~ .slide-3 .img-wrapper img,
.slide-radio4:checked ~ .slide-4 .img-wrapper img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
/* ======================Slider End ========================== */



/* ============================= Advantages Section Start ========================= */
  section.advantages > p{
    font-weight: 600;
    font-size: 1.5rem;
    padding : 0px 20px;
    color : rgb(230, 1, 39);
  }

  section.advantages .card-container .card{
    width : 400px;
    min-height : 300px;
    min-width : 320px;
    border : 3px solid black;
    margin : 30px;
    padding : 0 25px;
    border-radius : 50% 10%;
    text-align : center;
    box-shadow : 5px 5px 4px black;
    positoin : relative;
  }
  
  section.advantages .card-container .card h2{
    font-family : "RocknRollOne-Regular";
    font-weight : 100;
    margin : 10px 5px;
    transition: 0.3s;
  }

  section.advantages .card-container .card:hover p{
    color : white;
    text-shadow: 0px 2px 3px black;
  }

  section.advantages .card-container .card:hover h2{
    color : yellow;
    text-shadow: 0px 2px 5px black;
  }

  section.advantages .card-container .card.card1:hover{
    background : radial-gradient(rgba(74, 55, 241, 0.5), rgb(78, 29, 255));
  }

  section.advantages .card-container .card.card2:hover{
    background : radial-gradient(rgba(241, 57, 57, 0.596), rgb(250, 62, 28));
  }

  section.advantages .card-container .card.card3:hover{
    background : radial-gradient(rgba(103, 241, 23, 0.5), rgb(100, 251, 0));
  }


/* ============================= Advantages Section End ========================= */




/* ========================== Service Section Start ============================= */

section.services{
  background : rgba(255, 184, 184, 0.452);
}

section.services .card-container .service-card{
  min-width : 250px;
  min-height : 250px;
  background : radial-gradient(white, rgb(243, 243, 201), rgb(236, 236, 128));
  box-shadow: 0px 0px 8px 2px black;
  transition : all .3s linear;
  transform : rotate(45deg);
  margin : 50px;
  overflow: hidden;
  position : relative;
}

.service-card .card-wrapper{
  position : absolute;
  min-width : 92%;
  min-height : 92%;
  transition : all .3s linear;
  box-shadow: inherit;
}


.service-card .wrapper1{
  background-color: inherit;
  opacity : 1;
}

.service-card .wrapper2{
  background : radial-gradient(rgb(19, 255, 204), rgba(18, 197, 241, 0.972));
  color : white;
  text-shadow: 2px 2px 2px black;
  position : absolute;
  width : 100%;
  height : 100%;
  opacity : 0;
  transform: translateX(30%) translateY(30%);
}

.service-card .wrapper2 h2{
  color :rgb(236, 236, 128);
}

.service-card:hover .wrapper1{
  opacity : 0;
}

.service-card:hover .wrapper2{
  opacity : 1;
  transform : translateY(0%) translateX(0%);
}

.service-card:hover .wrapper2 p{
  padding : 0 18px;
}

.card-wrapper .card-content{
  transform : rotate(-45deg);
}

.service-card .card-wrapper .card-content .img-wrapper{
  height : 70px;
  width: 70px;
  position : relative;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 2px black, inset 1px 1px 15px blue;
  margin : 25px;
}

.service-card .img-wrapper img{
  position : absolute;
  height : 50%;
  width : 50%;
}

.service-card h2{
  font-family : "RocknRollOne-Regular";
  text-align : center;
  width : 200px;
}
/* ========================== Service Section End ============================= */




















































/* Responsive */

/* =================== Media Query for Navigation Start ======================= */
@media only screen and (max-width: 1020px) {
  .navigation {
    padding: 0 20px;
  }

  .slider {
    padding : 150px 50px 50px;
  }
}

@media only screen and (max-width: 960px) {
  .navigation .navigation-right a{
    padding : 5px;
  }

  .slider h2 {
    font-size: 50px;
  }

  .slider h4 {
    font-size: 18px;
  }

  .slider-pagination{
    bottom : 20px;
  }

}

@media only screen and (max-width: 875px) {
  .navigation{
    padding : 0px 50px;
  }

  .slider h2 {
    font-size: 45px;
  }

  .slider h4 {
    font-size: 16px;
  }

  .slider-content {
    padding: 0 50px;
    width : 50%;
  }

  .navigation-right{
    display: none;
  }

  .sm-nav{
    display: flex;
  }

  .navigation .nav-img{
    display : block;
  }

  .slider-pagination {
    left: 8%;
  }

  .slider .slider-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }

  .slider .img-wrapper{
    right: 1%;
  ]
}

@media only screen and (max-width: 725px) {

  .slider .slider-content{
    padding : 0px 20px;
    width : 100%;
  }

  .slider .img-wrapper{
    display : none;
  }
}

@media only screen and (max-width: 400px) {

  .navigation{
    padding : 0 25px;
  }

  .slider {
    padding : 150px 20px 20px;
  }

  section.services .card-container .service-card{
    transform: rotate(45deg) scale(0.8);
  }
}


/* ========================== Media Query for Navigation End ========================== */